{% extends "@FOSUser/layout.html.twig" %}
{% block fos_user_content %}
    <div class="login-box">
        <div class="login-logo">
            <span>SEO</span>
        </div>
    {{ include('@FOSUser/Security/login_content.html.twig') }}
    </div></div>
{% endblock fos_user_content %}
