
<div class="login-box-body">
    <p class="login-box-msg">Authentication</p>
    <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <div class="form-group has-feedback">
            <input class="form-control"
            id="username"
            name="_username"
            placeholder="Username"
            required="required"
            type="text"
            value=""/>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input class="form-control"
            id="password"
            name="_password"
            placeholder="Password"
            required="required"
            type="password"/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Log in</button>
            </div>
        </div>
    </form>
</div>
